
// цвета 
$darkest: #141517;
$dark: #2C2E3F;
$pink-orange: #FE7865;
$orange: #F17D4B;
$light: #FBF8F8;

// планшетная ширина
$tablet-width: 768px;
// десктопная ширина
$desktop-width: 1200px;

// ретиновые медиа
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
